body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('img/skull2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    /*background-color: rgba(211, 111, 11, 0.795);*/
    cursor: grab;
    color: rgb(233, 93, 12);
    font-size: 40px;
}

canvas {
background-color: rgb(44, 42, 42);
border-radius: 15px;
border:rgba(202, 105, 7, 0.915);
cursor: none;
}

